<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href={{url_for('static', filename="main.css")}} />
    
    <title> Dashboard</title>
    {% endblock %}
</head>
<body>
    <div id="content" class="container">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <p>Application case by Johan Karstoft</p>
        {% endblock %}
    </div>
    <script type="text/javascript"src={{url_for('static', filename="script.js")}}></script>
</body>
</html>